.theme-light {
  --page-bg-color: #ffe0fc;
  --page-bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --paragraph-title-color: #353430;
  --main-title-color: #ffc2e6;
  --menu-hover: rgba(50, 49, 45, 0.4);
  --decoration-color: #353430;
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --page-bg-color: #ffe0fc;
    --page-bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --section-title-color: #353430;
    --paragraph-title-color: #353430;
    --main-title-color: #ffc2e6;
    --menu-hover: rgba(50, 49, 45, 0.4);
    --decoration-color: #353430;
  }

  .theme-auto .header__rec {
    display: none;
  }
}
