.page {
  background: var(--page-bg-color) var(--page-bg-image) center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  min-height: 100vh;
}

/* header */
.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  align-items: center;
}

.header__title,
.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  text-transform: lowercase;
  line-height: 0.83;
}

.header__title {
  text-shadow: 4px 4px 0 var(--main-title-shadow);
}

.header__about {
  font-weight: 700;
  line-height: 1.3;
  font-size: 18px;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.header__theme-menu-list {
  display: flex;
  justify-self: end;
  flex-direction: column;
  list-style: none;
  font-size: 18px;
  gap: 12px;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 12px;
  color: var(--menu-color);
  text-transform: lowercase;
  line-height: 1;
  background: none;
  cursor: pointer;
  font: inherit;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color);
}

.header__rec {
  position: absolute;
  display: var(--rec-display);
  font-family: var(--main-font-family, monospace);
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  right: 10px;
  top: 10px;
}

.header__rec::after {
  content: "";
  background-color: var(--accent-color);
  display: inline-block;
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  margin: 0 9px 2px;
  width: 9px;
  height: 9px;
}

.decoration::before,
.decoration::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--decoration-color);
}

.decoration::before {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.decoration::after {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

/* main */
.main {
  padding: 0 10px;
  margin: 40px 0;
}

.section-why,
.section-what,
.section-how {
  display: grid;
  gap: 20px;
}

.section-what,
.section-how {
  margin-top: 50px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  line-height: 1.3;
}

.section__subtitle {
  font-weight: 700;
  font-size: 18px;
}

.articles {
  display: grid;
  align-self: start;
  grid-template-rows: auto;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__text-link {
  color: currentColor;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text-link:hover {
  border-bottom: 1px solid currentColor;
}

.card__text-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
}

.card__title_regular {
  font-weight: 400;
}

.card__text {
  line-height: 1.3;
  font-size: 18px;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.section-gallery {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.gallery__image {
  display: block;
  height: fit-content;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/* footer */
.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--main-title-shadow);
}

/* media */

@media (width >= 768px) {
  .header__rec {
    right: 20px;
    top: 20px;
  }

  .decoration::before {
    bottom: 20px;
    left: 20px;
  }

  .decoration::after {
    top: 20px;
    right: 20px;
  }

  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-left: -20px;
  }

  .header__about {
    justify-self: end;
    max-width: 50%;
  }

  .main {
    padding: 0 20px;
    margin: 60px 0;
  }

  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-what {
    margin-top: 80px;
  }

  .section-what .section__title {
    width: min(100%, 236px);
  }

  .section-how {
    margin-top: 80px;
    grid-template-columns: 1fr 2fr;
  }

  .section-gallery {
    margin-top: 80px;
    gap: 20px;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .gallery__image {
    height: 100%;
  }

  .image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image-books {
    grid-column: 2;
    grid-row: 2;
  }

  .image-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
    margin-top: 40px;
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
  }

  .section-why,
  .section-how {
    grid-template-columns: 1fr 2.07fr;
  }

  .section-what {
    display: grid;
  }

  .section-what .articles {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

   .section-what .card {
    line-height: 1.4;
  }

  .section-what .section__title {
    width: min(315px, 100%);
  }

  .footer {
    min-height: 768px;
  }
}